/* Center the signin box */
.signin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background: linear-gradient(to right, #c5ced1, #ffffff); */
    background-color: rgba(87, 44, 17, 0.8); 
  font-family: Arial, sans-serif;
  user-select: none;
}

/* Box style */
.signin-box {
  background: #fff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  width: 350px;
  text-align: center;
}

/* Title */
.signin-box h2 {
  margin-bottom: 20px;
  color: #333;
}

/* Input groups */
.input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
}

.input-group label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #555;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s;
}

.input-group input:focus {
  border-color: rgba(63, 31, 11, 0.8); ;
}

/* Button */
.signin-btn {
  width: 100%;
  padding: 12px;
  background-color: rgba(63, 31, 11, 0.8); 
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.signin-btn:hover {
     background: rgb(59, 29, 10); 
}

/* Signup link */
.signup-link {
  margin-top: 15px;
  font-size: 14px;
  color: #555;
}

.signup-link a {
    color:rgb(59, 29, 10);
  text-decoration: none;
  font-weight: bold;
}

.signup-link a:hover {
  text-decoration: underline;
}
